$size-1: 3rem  
$body-size: 1rem
$title-weight: 300

// custom colors
$red: #FF004E
$beige: #EBDED4
$black: #1A1A1A
$green: #4EBFC7
$blue: #1E1047
$purple: #741B47

// change default colors
$primary: $red
$column-gap: 1.5rem
$family-sans-serif: merriweather-sans
$family-serif: merriweather
 
@import node_modules/bulma/sass/utilities/all
@import node_modules/bulma/sass/base/all
@import node_modules/bulma/sass/elements/all
@import node_modules/bulma/sass/components/all
@import node_modules/bulma/sass/grid/all
@import node_modules/bulma/sass/layout/all
@import node_modules/slick-carousel/slick/slick.scss

// mixins
@import mixins/mixins

// global
@import global/utilities
@import global/fonts
@import global/typography
@import global/animations

// syntax highlighting
@import rainbow/blackboard

// components
@import components/hero
@import components/sections
@import components/box
@import components/buttons
@import components/portfolio
@import components/footer
@import components/media
@import components/background-shapes
@import components/process
@import components/card
@import components/related-posts
@import components/cta
@import components/elements
@import components/blog-share
@import components/tabs
@import components/display
@import components/forms
@import components/testimonials
@import components/solutions
@import components/slick-slider
@import components/logoslider
@import components/versusbox
@import components/navbar
@import components/grids
@import components/bleeder
@import components/cookieconsent
@import components/feature-list

body 
  background: white
  overflow: hidden

// tabs  
.tab-content
  display: none

.tab-content.current-tab
  display: inherit

.slick-list
  overflow: visible
  outline: 0
  position: relative
  z-index: 0

.slick-slide
  &:focus,
  &:active,
  &:hover  
    outline: 0


// viewport detection add ".is-visible"
.viewport
  &.is-visible
  

// ios fix viewport detection  
html.ios
  overflow-x: hidden
  -webkit-overflow-scrolling: auto !important

html.ios,
html.ios body
  height: initial !important
















// .solutions
//   height: 200px

//   .label
//     +fluid-type(18px, 24px)
//     font-weight: 300
//     position: relative
//     padding-right: 4rem

//     &:after
//       content: url(../assets/redarrow-right.svg)
//       position: relative
//       top: 2px

//   .column:first-child
//     display: flex
//     justify-content: flex-end
//     align-items: center

//   .column:last-child
//     position: relative 
//     padding: 0
//     z-index: 0
    
//     &:before
//       content: ''
//       background: transparent url(../assets/solutions-mask.png) no-repeat center center
//       background-size: cover
//       position: absolute
//       left: 0
//       top: 0
//       z-index: 999999
//       height: 100%
//       width: 100%

//   .oplossingenslider
//     overflow: hidden
//     height: 198px
//     position: relative

//     .slick-slide
//       background: $green
//       height: 198px
//       display: flex
//       align-items: center
//       padding-left: 8rem
//       +fluid-type(18px, 24px)

//       &:nth-child(4n+1)
//         background: $red
//         color: white

//       &:nth-child(4n+2)  
//         background: $green
//         color: white
      
//       &:nth-child(4n+3)  
//         background: $black
//         color: white
    
//       &:nth-child(4n+4)  
//         background: $blue                
//         color: white






    
// <figure class="breakout">
//             <img src="assets/react-drupal.jpg" alt="" class="image">
//             <figcaption>Dit is een figcaption</caption>
//           </figure>
  



// <div class="section  is-top  contact">
//         <div class="container">
//             <div class="columns">
//                 <div class="column">
//                     <h1 class="title is-pagetitle">Contact</h1>
//                     <p class="intro">We komen graag kennismaken en kunnen desgewenst direct de technische diepte in. Dus geen verkoper, maar voor u relevante adviezen. Maak een afspraak om onze passie voor internet te proeven.</p>
//                     <a href="mailto:info@ibuildings.nl" class="button"><span>mail</span>info@ibuildings.nl</a>
//                     <a href="tel:0031880024000" class="button"><span>bel</span>+31 (0) 88 00 24000</a>
//                     <h3>Volg ons</h3>
//                     <ul>
//                         <li><a href="#">Facebook</a></li>
//                         <li><a href="#">Twitter</a></li>
//                         <li><a href="#">Github</a></li>
//                         <li><a href="#">Linkedin</a></li>
//                     </ul>
//                 </div>
//                 <div class="column  is-paddingless  is-whitebleeder">
                    
//                     <h3>Contactformulier</h3>

//                     <form action="#">
                    
//                         <div class="columns">
//                             <div class="column">Naam</div>
//                             <div class="column">Organisatie</div>
//                             <div class="column">Terugbel datum</div>
//                             <div class="column">Telefoonnummer</div>
//                             <div class="column">Vraag/opmerking</div>
//                         </div>

//                     </form>
                    
//                 </div>
//             </div>    
//         </div>
//     </div>    

.contactheader
  padding-top: 2rem
  padding-bottom: 4rem
  background: $red
  color: white

  +tablet 
    padding-top: 4rem
    padding-bottom: 8rem

  +desktop
    padding-top: 8rem
    padding-bottom: 8rem

  a 
    color: $white

.is-whitebleeder
  position: relative
  z-index: 1
  padding: 4rem
  
  &:before
    z-index: -1
    content: ''
    background: white
    opacity: 1
    position: absolute
    left: 0
    top: 0
    bottom: -6rem
    width: 100vw

    + desktop
      width: 50vw


.box
  &.is-shadow
    box-shadow: 0 0 48px 0 rgba(0,0,0,.2)
    padding: 4rem
    border-radius: 0


// <div class="section  is-maps">
//         <div class="container">
//             <div class="box  box-shadow">
//                 <div class="columns">


.linklist
  ul 
    li 
      a 
        color: white



// blogmeta margins
  
.blogmeta
  margin: 1rem 0

  &--footer
    margin: 3rem 0 !important

  
  
// jumps curves

.jumpcurves
  padding: 2rem 
  position: relative
  z-index: 10

  +touch
    display: none !important

  > div
    position: relative

    &:before
      position: absolute
      left: 50%
      transform: translateY(calc(-50% - 1rem))
      background: url(../assets/stepscurves.svg) no-repeat center center
      width: 100%
      height: 4rem
      display: block
      content: ''
      
    &:last-child:before
      display: none