@import url('https://fonts.googleapis.com/css?family=Poppins:400,400i,700')
    
.kss-body
    background: whitesmoke
    //font-family: poppins, sans-serif

    .kss-section__markup
        .language-markup
            background: #202020
            color: white

        code[class*="language-"],
        pre[class*="language-"]
            text-shadow: none

        .token.property,
        .token.tag,
        .token.boolean,
        .token.number,
        .token.constant,
        .token.symbol,
        .token.deleted    
            color: #b91972

        .token.atrule, 
        .token.attr-value,
        .token.keyword
            color: #1d8ab8

        .token.punctuation
            color: #a9a9a9

    .kss-documentation
        background: whitesmoke
        padding-left: calc(15% + 60px)
        padding-top: 56px

    .kss-section__content
        padding: 0
        border: 0

    .language-markup
        border: 0
        background: white

    .kss-section__modifiers
        border: 0
        background: transparent
        margin-bottom: 2rem
        padding: 0
        
    .kss-section__source
        //background: #202020
        padding: 4px 6px
        display: block
        text-align: right

    .kss
        background: white
        padding: 2rem

    .kss-section__name
       color: #202020
       font-weight: 600

    h1.kss-section__item 
        font-weight: 600
        font-size: 48px
        font-family: poppins

    .kss-section__item,
    .kss-modifiers__heading,
    a.kss-state-active
        color: #FF004E


    .tag.token:not(body)
        background: #202020

    .kss-navigation__title.kss-title
        background: url(../assets/ibuildings-styleguide-logo.jpg) no-repeat center center
        background-size: contain
        font-size: 0
        height: 200px

    .kss-section
        margin-bottom: 40px
        margin-top: 40px
        border-top: 2px solid #bbb
        padding-top: 40px
        padding-bottom: 40px