/*  merriweather sans */

@font-face
    font-family: 'merriweather-sans'
    src: url('../assets/fonts/merriweathersans-light-webfont.woff2') format('woff2')
    src: url('../assets/fonts/merriweathersans-light-webfont.woff') format('woff')
    font-weight: 300
    font-style: normal

@font-face
    font-family: 'merriweather-sans'
    src: url('../assets/fonts/merriweathersans-lightitalic-webfont.woff2') format('woff2')
    src: url('../assets/fonts/merriweathersans-lightitalic-webfont.woff') format('woff')
    font-weight: 300
    font-style: italic
    
@font-face
    font-family: 'merriweather-sans'
    src: url('../assets/fonts/merriweathersans-bold-webfont.woff2') format('woff2')
    src: url('../assets/fonts/merriweathersans-bold-webfont.woff') format('woff')
    font-weight: 600
    font-style: normal

@font-face
    font-family: 'merriweather-sans'
    src: url('../assets/fonts/merriweathersans-bolditalic-webfont.woff2') format('woff2')
    src: url('../assets/fonts/merriweathersans-bolditalic-webfont.woff') format('woff')
    font-weight: 600
    font-style: italic

@font-face
    font-family: 'merriweather-sans'
    src: url('../assets/fonts/merriweathersans-italic-webfont.woff2') format('woff2')
    src: url('../assets/fonts/merriweathersans-italic-webfont.woff') format('woff')
    font-weight: normal
    font-style: italic

@font-face
    font-family: 'merriweather-sans'
    src: url('../assets/fonts/merriweathersans-regular-webfont.woff2') format('woff2')
    src: url('../assets/fonts/merriweathersans-regular-webfont.woff') format('woff')
    font-weight: normal
    font-style: normal

/*  merriweather */    

@font-face
    font-family: 'merriweather'
    src: url('../assets/fonts/merriweather-bold-webfont.woff2') format('woff2')
    src: url('../assets/fonts/merriweather-bold-webfont.woff') format('woff')
    font-weight: 600
    font-style: normal

@font-face
    font-family: 'merriweather'
    src: url('../assets/fonts/merriweather-regular-webfont.woff2') format('woff2')
    src: url('../assets/fonts/merriweather-regular-webfont.woff') format('woff')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'merriweather'
    src: url('../assets/fonts/merriweather-light-webfont.woff2') format('woff2')
    src: url('../assets/fonts/merriweather-light-webfont.woff') format('woff')
    font-weight: 300
    font-style: normal

@font-face
    font-family: 'merriweather'
    src: url('../assets/fonts/merriweather-lightitalic-webfont.woff2') format('woff2')
    src: url('../assets/fonts/merriweather-lightitalic-webfont.woff') format('woff')
    font-weight: 300
    font-style: italic    