// Typography
//
//
// Markup:
// <div class="section  is-big">
//     <div class="container  is-10">
//       <h2 class="title is-3 is-redline">Bekijk welke technologieën wij ondersteunen</h2>
//     </div>
// </div>
//  
// Styleguide Typography.redline-header

  
$family-primary: merriweather
$family-secondary: merriweather-sans
  
body
  font-family: $family-primary
  color: $black
  font-weight: 300
  font-size: 16px
  line-height: 28px

h1,h2,h3,h4,h5,h6
  font-family: $family-primary
  font-weight: 500

.intro
  font-family: $family-primary
  font-weight: $weight-light
  +fluid-type(14px,18px)
  max-width: $desktop
  line-height: 2
  padding-right: 2rem

p
  margin-bottom: 1rem

  &.big
    +fluid-type(15px,18px)


.metainfo
  color: $red
  font-family: $family-primary

// Devider label
// <h3 class="divider-label"><span>Non-functionele aspecten</span></h3>  
  
.divider-label
  text-align: center

  span 
    background: $green
    color: white
    display: inline-block
    margin: 0 auto
    position: relative
    padding: 6px 24px
    border-radius: 8px

 
// Typography
//
// Markup:
// <div class="section  is-big">
//     <div class="container  is-10">
//       <h2 class="title is-paneltitle">Bekijk welke technologieën wij ondersteunen</h2>
//     </div>
// </div>
//  
// Styleguide Typography.redline-header2  

   

.title
  line-height: 1.3
  margin-bottom: 1.5rem
  font-weight: 500
  letter-spacing: .28px
  max-width: $desktop

  &.is-paneltitle
    +fluid-type(32px,48px)
    font-weight: 400
    margin: 0 auto 2rem auto

    +desktop
      margin: 0 auto 4rem auto

  &.is-pagetitle
    +fluid-type(32px,56px)
    font-weight: 400    
  
  &.is-redline
    display: block
    padding: .5rem 0 .5rem 0
    position: relative
    font-weight: 500
    margin-bottom: 0
    margin: 1rem 0 1rem 0
    
    //+fluid-type(1rem,2rem)

    &:before
      content: ''
      width: 50px
      height: 6px
      background: $red
      display: block
      transform: translateY(-1rem)

  &.is-xl
    +fluid-type(36px,76px)
    font-weight: 400

  &.is-1
    +fluid-type(36px,56px)

  &.is-2
    +fluid-type(32px,48px)

  &.is-3
    +fluid-type(24px,36px)

  &.is-4
    +fluid-type(18px,28px)

  &.is-5        
    +fluid-type(16px,20px)

  &.is-6
    +fluid-type(12px,16px)


// link hover styles  
a
  &.is-hoverunderline
    position: relative

    +desktop

      &:after
        content: ''
        position: absolute
        display: block
        left: 50%
        right: 50%
        bottom: 1rem
        height: 2px
        background: $red
        transition: .5s

      &:hover:after
        right: 1rem
        left: 1rem

  &.is-active
    text-decoration: line-through



.blog

  h2
    +fluid-type(18px,24px)
    font-weight: $weight-bold
    line-height: 1
    margin: 2rem 0 0 0



// animated underlines  
.underline-words

  > span
    width: 100%
    background-image: linear-gradient(to bottom,rgba(190, 190, 190, 0) 94%,rgba(190, 190, 190, 1) 94%,rgba(190, 190, 190, 1) 100%,rgba(190, 190, 190, 0) 100%)
    background-size: 1005% 100%
    transition: .5s linear
    background-repeat: no-repeat
    
    span
      background-image: linear-gradient(to bottom,rgba(255, 0, 78, 0) 94%,rgba(255, 0, 78, 1) 94%,rgba(255, 0, 78, 1) 100%,rgba(255, 0, 78, 0) 100%)
      background-size: 0 100%
      transition: .5s linear
      background-repeat: no-repeat


      &:nth-child(1)
        span
          transition-delay: 1s

    &:nth-child(2)
      span
        transition-delay: 1.5s

    &:nth-child(3)
      span
        transition-delay: 2.5s
	
    .loaded &
      span
        background-size: 100% 100%
      
      


