// reverse flex-row
.is-rowreverse
  flex-direction: row-reverse

.is-rowreverse-tablet
  +tablet
    flex-direction: row-reverse

// small
.container
  &.is-10
    max-width: calc(#{$widescreen} * 10/12)

  &.is-8
    max-width: calc(#{$widescreen} * 8/12)  

// limit width images
img

  &.is-50
    max-width: 50%
    margin: 0 auto

  &.is-60
    max-width: 60%
    margin: 0 auto

  &.is-70
    max-width: 70%
    margin: 0 auto
  
  &.is-80
    max-width: 80%
    margin: 0 auto

  &.is-90
    max-width: 90%
    margin: 0 auto


// 2 columns, nth(2) descended

.is-relative
  position: relative  

.is-wrapped
  flex-wrap: wrap


.is-shifted
  +tablet
    .column:nth-child(2n) 
      transform: translateY(8rem)

.two-columns
  columns: 2 150px

.is-flex-right
  display: flex
  justify-content: flex-end


/*figure*/
.breakout

  +desktop
    margin-left: -8rem
    margin-right: -8rem

  img
    width: 100%
    max-width: none


// who's afraid of red, yellow and blue?? 
// color classes

.is-white
  color: white

.is-red
  color: $red  

.is-blue
  color: $blue


// align


.is-dimmed
  opacity: .8
  font-weight: 500


.centerbox
  margin: 4rem 0  
  text-align: center



// trunks

.mt-
  +tablet
    margin-top: -1rem
  
  +desktop
    margin-top: -2rem

.mt--
  +tablet
    margin-top: -2rem

  +desktop
    margin-top: -4rem  




// number in bullet

.numberbullet  
  
  &:after
      content: attr(data-number)
      position: absolute
      margin: 0 auto
      left: 0
      right: 0
      top: 0
      background: $red
      height: 24px
      width: 24px
      color: white
      border-radius: 48px
      font-size: 28px
      display: flex
      justify-content: center
      align-items: center
      font-weight: 400

      +desktop
          height: 48px
          width: 48px
          font-size: 28px