// background shapes
 
.shape
    position: relative

    .container
        position: relative
        z-index: 1
        
    &:before
        background: transparent url(../assets/g-shape-background.svg) no-repeat left bottom
        content: ''
        left: 50%
        top: -4rem
        bottom: -6rem
        right: 0
        position: absolute
        z-index: 0

    &--1
        @extend .shape
        &:before
            left: 50%
            top: -4rem
            bottom: -6rem
            right: 0

    &--2
        @extend .shape
        &:before
            left: -24rem
            top: -4rem
            bottom: -8rem
            right: 59%
            transform: rotate(39deg)
            background-size: cover
            background-position: right top

    &--3
        @extend .shape
        &:before
            right: 0rem
            top: -4rem
            bottom: 0
            left: 19%
            background: transparent url(../assets/circle-shape-background.svg) no-repeat left top
            background-size: contain

            +desktop
                left: 59%