.bleeder
  padding-top: 0
  margin-bottom: 2rem

  +desktop
    margin-bottom: 4rem

  .columns
    margin-top: 0
    
    .column:first-child
      min-height: 180px
      display: flex
      flex-direction: column
      justify-content: center

      +tablet
        height: 400px
      +desktop
        height: 500px

  &-img 
    position: absolute
    left: 0
    top: 0
    bottom: 0
    overflow: hidden
    width: 50vw
    max-width: 1000px
    
    img
      object-fit: cover
      object-position: 50% 50%
      height: 100%
      width: 100%