// Share widget
//  
// Simple share widget for blog items   
//
//
// Markup:
// <div class="share">
//   <span class="label">share</span>
//   <ul class="network">
//     <li class="network__linkedin"><span>linkedin</span></li>
//     <li class="network__facebook"><span>facebook</span></li>
//     <li class="network__twitter"><span>twitter</span></li>
//     <li class="network__print"><span>print</span></li>
//     <li class="network__mail"><span>mail</span></li>
//   </ul>
// </div>
//
// Styleguide Components.sharewidget  

.share
  display: flex
  position: relative
  justify-content: flex-end

  &:hover
    cursor: pointer
    
    .label
      width: 0
      overflow: hidden

    .network
      opacity: 1
      width: auto
      padding: 0 .5rem

  .label
    color: $red
    display: flex
    align-items: center
    flex-direction: row-reverse
    margin: 0
    transition: 1s
    font-weight: normal

    &:before
      content: ''
      position: relative
      height: 2.375rem
      width: 2.375rem
      border-radius: 100%
      background: $red url(../assets/icon-share.svg) no-repeat center center
      background-size: 60% 60%
      display: block
      margin-left: 1rem
  
  .network
    display: flex
    background: $red
    border-radius: 2.375rem
    position: absolute
    top: 0
    right: 0
    padding: 0
    width: 0
    overflow: auto

    > li
      height: 2.375rem
      width: 2.375rem
      background-position: center center
      background-color: transparent
      background-repeat: no-repeat
      position: relative

      a
        display: block
        width: 100%
        height: 100%

      &:hover
        top: -2px
      
    span
      display: none

    &__linkedin
      background-image: url(../assets/icon-linkedin.svg)

    &__facebook
      background-image: url(../assets/icon-facebook.svg)

    &__twitter
      background-image: url(../assets/icon-twitter.svg)

    &__print
      background-image: url(../assets/icon-print.svg)

    &__mail
      background-image: url(../assets/icon-mail.svg)