.box
    border-radius: 0
    border: none
    box-shadow: none

    &.is-beige
        background: $beige

    &.is-big
        padding: 2rem

        +tablet 
            padding: 3rem

        +desktop
            padding: 4rem


    &.is-big-horizontal
            padding: 1rem 2rem
            
            +tablet 
                padding: 1rem 3rem

            +desktop
                padding: 1rem 4rem                
