.button

  &:hover
    background: transparent

  &:after
    margin-left: .7rem

  // Tekstlink button
  //
  // Markup:
  // <a href="#" class="button  is-textlink">
  //     label
  // </a>
  // 
  // Styleguide Elements.button.tekstlink

  
  // simple textlink ghost button with small arrows
  &.is-textlink
    background: transparent
    border-color: transparent

    &:hover
      background: transparent

    &:after
        content: " »"
        margin-left: .5rem
        transition: .5s

  // Primary button
  //
  // Markup:
  // <a href="#" class="button  is-primary">
  //     label
  // </a>
  // 
  // Styleguide Elements.button.primary

  &.is-primary
    font-weight: 500

  // Large button
  //
  //
  // Markup:
  // <a href="#" class="button  is-large">
  //     label
  // </a>
  // 
  // Styleguide Elements.button.large
  
  &.is-large
    background: $red
    color: #fff
    font-weight: 500
    border: 0
    padding: 12px 52px 12px 28px
    height: unset
    line-height: 1.4
    font-size: 14px
    white-space: normal
    text-align: left

    +desktop
      font-size: 18px

    &:after
      position: absolute
      width: 8px
      height: 8px
      right: 22px
      top: 50%
      background: url(../assets/plus-sign.svg)
      content: ''
      transition: .4s
      transform: translateY(-50%)

    &:hover::after
      transform: translateY(-50%) rotate(360deg)

    &:hover
      background: darken($red, 3%)  


  // Download button
  //
  // example: (download button valkuilen )
  //
  // Markup:
  // <a href="#" class="button  is-download">
  //     label
  // </a>
  // 
  // Styleguide Elements.button.download
  
  &.is-download
    background: $red url(../assets/arrow-down-white.svg) no-repeat right 12px top 11px
    color: #fff
    font-weight: 500
    border: 0
    padding: 12px 52px 12px 28px
    height: unset
    line-height: 1.4
    font-size: 14px
    white-space: normal
    text-align: left
    transition: .3s

    &:hover
      background-color: darken($red, 5%)
      background-position: right 12px top 13px

  // Signup button
  //
  //
  // Markup:
  // <a href="#" class="button  is-signup">
  //     meld je aan voor de nieuwsbrief
  // </a>
  //
  // example: (blog)  
  // 
  // Styleguide Elements.button.signup

  &.is-signup
    color: white
    position: absolute
    right: 0
    top: 2rem
    border: 0
    background: transparent url(../assets/icon-pen-diap.svg) repeat-y right .5rem top 0
    padding: 12px 64px 12px 16px
    display: block
    height: unset
    transition: .3s

    .kss-body &
      border: 10px solid $red
      background-color: $red
      margin-bottom: 1rem
    
    &:focus,
    &:active  
      border: 0
    
    &:hover
      background-position: right .5rem top -48px
      
  // Text arrow diap
  //
  // example: (testimonial slider)
  //
  // Markup:
  // <a href="#" class="button  is-textarrowdiap">
  //     label
  // </a>
  // 
  // Styleguide Elements.button.arrowdiap


  &.is-textarrowdiap
    border: 0
    background: none
    color: white
    opacity: .4
    transition: .5s

    &:after
      content: url(../assets/arrow-right-diap.svg)
      position: relative
      top: 2px

    &:hover
      opacity: 1
      background: none

  // Button duolabel
  //
  // example: (technology stack)
  //
  // Markup:
  // <a href="tel:0031642236895" class="button  is-duolabel">
  //     <span>Bel</span>
  //     +31 (0) 6 42236895
  // </a>
  // <a href="mailto:norman@webchimp.nl" class="button  is-duolabel">
  //     <span>Mail</span>
  //     norman@webchimp.nl
  // </a>  
  // 
  // Styleguide Elements.button.duolabel

  &.is-duolabel
    display: block
    max-width: 280px
    margin-bottom: 2rem
    border-radius: 3px
    font-family: $family-serif
    color: $red
    font-weight: 600
    border: 0
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.15)
    padding: 12px 12px
    height: unset
    transition: .3s
    text-align: left

    span
      color: $purple
      margin-right: .5rem
    
    &:hover
      color: $purple
      background: white
      transform: translateY(-2px)


  // Button thumb
  //
  // example: (cookie consent)
  //
  // Markup:
  // <a href="#" class="button  is-thumb">
  //     akkoord
  // </a>
  // 
  // Styleguide Elements.button.thumb


  &.is-thumb
    background: white url(../assets/icon-thumb.svg) no-repeat center right 12px
    color: $red
    padding-right: 3rem
    border: 0

  // Button diaplink
  //
  //
  // Markup:
  // <a href="#" class="button  is-diaplink">
  //     label
  // </a>
  // 
  // Styleguide Elements.button.diaplink

  &.is-diaplink
    background: transparent 
    color: white
    border: 0

  // Button red arrow
  //
  //
  // Markup:
  // <a href="#" class="button  is-redarrow">
  //     label
  // </a>
  // 
  // Styleguide Elements.button.redarrow

  &.is-redarrow
    border: 0
    background: none
    transition: .5s
    margin: 1rem 0
  
    &:after
      content: url(../assets/redarrow-right.svg)
      position: relative
      top: 2px

    &:hover
      background: none  
      
      &:after
        transform: translateX(2px)

  // Button submit
  //
  //
  // Markup:
  // <a href="#" class="button  is-submit">
  //     label
  // </a>
  // 
  // Styleguide Elements.button.submit
    
  &.is-submit
    font-size: 0
    background: white url(../assets/redarrow-right.svg) no-repeat left 14px center
    border: 0
    width: 48px
    height: 36px
    border-radius: 0
    transition: .5s
    
    &:hover
      background: white url(../assets/redarrow-right.svg) no-repeat left 16px center

    &.is-diap
      background-color: $red
      background-image: url(../assets/arrow-right-diap.svg)

  // Button next
  //
  //
  // Markup:
  // <a href="#" class="button  is-next">
  //     <span>label</span>
  // </a>
  //
  // see: blog card button
  //   
  // Styleguide Elements.button.next

  &.is-next
    border: 0
    transition: .5s
    background: $red url(../assets/arrow-right-diap.svg) no-repeat center center
    border-radius: 0
    display: inline-block
    height: 36px
    width: 48px

    
    span
      display: none

    &:hover
      background-color: darken($red, 5%)
      background-position: left 18px top 11px