// <div class="card is-blog">
//     <div class="card-image">
//         <figure class="image is-4by3">
//             <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
//         </figure>
//     </div>

//     <div class="card-content">
//         <div class="card-meta">date | author</div>
//         <h2 class="card-title">Drupal + React “progressively”</h2>
//         <p class="card-intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean iaculis molestie
//         ligula.</p>
//     </div>
// </div>


.card.is-blog
    border: 0
    box-shadow: 0 0 24px 0 rgba(0,0,0,.15)


    .card-meta
        color: $red
        font-family: $family-sans-serif
            
    .card-title
        +fluid-type(24px,36px)
        margin-bottom: 1rem
        line-height: 1.4

    .card-intro

        

.card
    &.is-maps
        border: 0
        box-shadow: none

        .card-content
            padding: 0
            +fluid-type(18px,20px)
            line-height: 1.6

        .card-image
            margin-bottom: 1rem    