// Cookie consent
//  
// Markup:   
// <div class="notification is-cookie">
//     <div class="box is-red">
//         <div class="level">
//             <div class="level-left">
//                 Wij gebruiken cookies voor een betere gebruikers ervaring. Voor meer informatie: <a href="privacy-statement.html">privacy</a>
//             </div>
//             <div class="level-right">
//                 <a href="#" id="#" class="button  is-diaplink  is-dimmed">weigeren</a>
//                 <a href="#" id="cookie" class="button  is-thumb">cookies toestaan</a>
//             </div>
//         </div>
//     </div>    
// </div>
//
// Styleguide Components.Cookie

.notification
  position: fixed
  bottom: 0
  width: 100%
  z-index: 999
  padding: 0
  margin: 0 !important
  box-shadow: 0 0 48px 0 rgba(0,0,0,.15)

.kss-body .notification
    position: static !important

.box
  &.is-red
    background: $red
    color: white
    box-shadow: none
    border: 0
    border-radius: 0

    .button
      margin-left: 1rem
