// Call to action author
//
//
// Markup:
// <div class="author-cta">
//     <div class="media">
//         <figure class="media-left  image  is-128x128">
//             <img src="assets/martin.jpg" alt="Martin Roest" />
//         </figure>   
//         <div class="media-content">
//             <h3 class="title">Heb je vragen over dit artikel?</h3>
//             <a href="mailto:martinroest@ibuildings.nl" class="button is-textarrowdiap">mail mij</a>
//         </div>
//     </div>  
//     <a href="#" class="button  is-redarrow  is-pulled-right">andere artikelen van Martin</a>
// </div>
//
// Styleguide Components.AuthorCTA
    
.author-cta

    .title
        +fluid-type(24px, 36px)
        font-weight: 400
        color: white

    .media
        padding: 2rem
        background: $black

        &-content
            color: white
            



// CTA Blog
// 
// Call to action beneath blogpost    
//
// Markup:    
// <div class="section  blog-cta"> 
//    <h3>Geen nieuwe updates missen? Wij mailen je elke update.</h3>
//
//    <div class="columns">
//
//        <div class="column">
//            <div class="field">
//                <div class="control">
//                <input class="input" type="text" placeholder="Naam">
//                </div>
//            </div>
//        </div>
//
//        <div class="column">
//            <div class="field">
//                <div class="control">
//                <input class="input" type="email" placeholder="Email">
//                </div>
//            </div>
//        </div>
//
//        <div class="column">
//            <a href="#" class="button"><span>verstuur</span></a>
//        </div>
//    </div>
// </div>
// Styleguide 2.1.3   

.blog-cta
    background: $red
    color: white

    .title
        +fluid-type(24px,44px)
        color: white
        font-weight: 400










    
.page-cta
    background: $red
    color: white

    .title
        +fluid-type(24px,44px)
        color: white
        font-weight: 400


// Reveal CTA
//
// Markup:
// <div class="section  section--flush  revealcta  viewport">
//   <div class="revealcta__panelleft">
//     <img src="assets/panel-tom.jpg" alt="Tom Schenkenberg" />
//     <p class="revealcta__contact">
//       Tom Schenkenberg<br />
//       <a href="mailto:tom@ibuildings.nl">tom@ibuildings.nl</a><br />
//       <a href="tel:0031651627405">06 51 62 74 05</a>
//     </p>
//   </div>
//   <div class="revealcta__panelcenter">
//     <div class="box  box--cta">
//       <h2 class="title is-white">Wat is jullie uitdaging?</h2>
//       <p>We denken graag mee over de beste oplossingen voor jullie uitdaging. Geen salesmensen, maar serieus
//         technisch
//         advies. En als we concluderen dat een andere oplossing dan de onze beter bij u past, dan vertellen wij u dit
//         ook.</p>
//       <form action="#" class="is-minimal  is-diap">
//       <div class="columns">
//         <div class="column is-half">
//           <div class="field  is-levitate">
//             <div class="control">
//               <input class="input" type="text" required>
//               <label class="label">Naam</label>
//             </div>
//           </div>
//         </div>
//         <div class="column is-half">
//           <div class="field is-levitate">
//             <div class="control">
//               <input class="input" type="text" required>
//               <label class="label">Oganisatie naam</label>
//             </div>
//           </div>
//         </div>
//       </div>
//       <div class="columns">
//         <div class="column is-half">
//           <div class="field  is-levitate">
//             <div class="control">
//               <input class="input" type="text" required>
//               <label class="label">Email</label>
//             </div>
//           </div>
//         </div>
//         <div class="column is-half">
//           <div class="field  is-levitate">
//             <div class="control">
//               <input class="input" type="text" required>
//               <label class="label">Telefoonnummer</label>
//             </div>
//           </div>
//         </div>
//       </div>
//       <div class="columns is-gapless">
//         <div class="column">
//           <div class="field">
//             <label class="label"></label>
//             <div class="control">
//               <textarea class="textarea" rows="4" placeholder="Vertel ons over je uitdaging*"></textarea> 
//             </div>
//           </div>
//         </div>
//       </div>
//       <div class="is-flex-right"><a href="#" class="button  is-submit"><span>verstuur</span></a></div>
//     </div>
//   </div>
//   <div class="revealcta__panelright">
//     <img src="assets/panel-joni.jpg" alt="" />
//     <p class="revealcta__contact">
//       Joni Overbosch <br />
//       <a href="mailto:joni@ibuildings.nl">joni@ibuildings.nl</a><br />
//       <a href="tel:0031646195081">+31 (0)6 46 19 50 81</a>
//     </p>
//   </div>
// </div>
//  
// Homepage + assured delivery
//    
// Styleguide CTA.reveal




// reveal cta 

.revealcta
  position: relative
  overflow: hidden

  +tablet 
    height: 600px

  .box
    border-radius: 0

  &__contact
    position: absolute
    right: 2rem
    top: 50%
    transform: translateY(-50%)
    color: #fff
    text-align: right
    a
      color: #fff

  &__panelright
    .revealcta__contact 
      right: auto
      left: 2rem
      text-align: left

  > div
    transition: .5s
    transition-delay: 1s

    img
      object-fit: cover
      object-position: center center
      height: 100%
      width: 100%
      transition: .5s
      transition-delay: 1s

  &__panelleft
    position: absolute
    left: 0
    top: 0
    bottom: 0
    width: 50%
    margin: 0 auto
    z-index: 1

  &__panelcenter
    position: relative
    margin: 0 auto
    position: block
    min-width: none
    z-index: -1
    color: #fff
    
    > div
      background: $red
      padding: 3rem
      color: #fff

    +tablet
      position: absolute
      min-width: 600px
      left: 0
      right: 0
      top: 0
      bottom: 0

      > div
        padding: 4rem

    

  &__panelright
    position: absolute
    right: 0
    top: 0
    bottom: 0
    width: 50%
    z-index: 1

  &.is-visible
    overflow: visible

    .revealcta__panelleft
      left: -340px

    .revealcta__panelright
      right: -340px

    .revealcta__panelcenter
      z-index: 9
      width: 100%
      
      +tablet
        width: 680px
        top: -2.5rem