// Display
//
//
// Markup:
// <div class="section">
//     <div class="container">
//         <div class="display">
//             <h2 class="title  is-2">Gelukkkige mensen preseteren beter</h2>
//             <div class="two-columns  display-content">
//                 <p>Centraal binnen ons  bedrijf bevinden zicht onze mensen. Door middel van Holacracy, een organisatiestructuur, staan onze medewerkers in op de posities waar ze zelf het meest gelukkig zijn, in hun kracht staan en daardoor dus de meeste waarde kunnen toevoegen aan de organisaties van onze klanten.</p>
//                 <p>Ibuildings is overigens niet het enige bedrijf ter wereld dat Holacracy heeft geadopteerd. We bevinden ons in een rijtje met organisaties zoals het Amerikaans Zappos, maar ook organisaties dichter bij huis zoals Bol.com en Spingest passen het toe.</p>
//             </div>
//             <img src="assets/lunchbox-meeting.jpg" alt="" class="display-image" />
//         </div>
//     </div>
// </div>
//  
// Styleguide Components.Display

.display
  background: lighten($beige, 8%)
  padding: 2rem
  position: relative
  z-index: 1
  
  +desktop
    padding: 4rem

  &:after
    content: ''
    position: absolute
    left: 0
    right: 0
    margin: 0 auto
    top: 0
    width: 40px
    height: 48px
    display: block
    background: $red url(../assets/arrow-down.svg) no-repeat center center
    transform: translateY(-50%)

  +desktop
    padding: 6rem 10rem 0 10rem

  &:before
    content: ''
    position: absolute
    left: 0
    right: 0
    bottom: 0
    background: white
    height: 8rem
    z-index: -1

  .title
    text-align: center
    font-weight: 400

  &-image 
    margin: 0 auto
    width: 100%
    max-width: unset