// Tags
//    
// custom tags (blog items) 
//    
// Markup:
// <div class="tags is-diap">
//   <span class="tag">architectuur</span>
//   <span class="tag">engineering</span>
// </div>
//    
// <div class="tags">
//   <span class="tag">architectuur</span>
//   <span class="tag">engineering</span>
// </div>
//
// Styleguide Elements.tags    
    
.tags
  display: block

  .tag
    background: transparent
    display: inline-block
    border: 1px solid $black
    color: $black
    padding: 10px 12px 8px 12px
    border-radius: 18px
    line-height: 1
    height: auto
    font-family: "merriweather-sans"

  &.is-diap
    .tag     
      color: white
      border: 1px solid white


// Pointer on section
.pointer
  position: relative

  &:after
    content: ''
    position: absolute
    left: 0
    right: 0
    margin: 0 auto
    bottom: 0
    width: 40px
    height: 48px
    display: block
    background: $red url(../assets/arrow-down.svg) no-repeat center center



// Arrow divider
// 
// Red rectangle with a white arrow
//  
// Markup:  
// <hr class="arrow-down">
//  
// Styleguide Elements.divider

hr
  &.arrow-down
    border: 0
    display: block
    background: none
    display: flex
    justify-content: center
    align-items: center
    overflow: visible
    margin: 2rem 0

    &:after
      content: ''
      height: 48px
      width: 36px
      background: $red
      display: block
      background: $red url(../assets/arrow-down-white.svg) no-repeat center center  


// <figure class="breakout">
//   <img src="assets/react-drupal.jpg" alt="" class="image">
//   <figcaption>Dit is een figcaption
// </figcaption></figure>

figure
  margin-bottom: 1rem

  figcaption
    font-weight: 300
    font-family: $family-sans-serif
    +fluid-type(14px,16px)
    color: #888