// Featurelist
//
// A numbered featurelist 
//
// Markup:
// <div class="section  is-big">
//     <div class="container">
//         <div class="columns  featurelist">
//             <div class="column  is-4-desktop">
//                 <figure class="image  is-5by4"  data-number="1">
//                     <img src="assets/usability.jpg" alt="" />
//                 </figure>                
//             </div>
//             <div class="column  is-5-desktop">
//                 <h2 class="title">Gebruikerservaring / User Experience</h2>
//                 <p>Ondanks onze sterke focus op de techniek, ontwerpen we met een focus op gebruikerservaring en prototyping van digitale producten. Van requirementsanalyse tot lean en design-denktechnieken; we zorgen ervoor dat gebruikers van uw digitale product houden.</p>
//             </div>
//         </div>
//     </div>
// </div>
// <div class="section  is-big">
//     <div class="container">
//         <div class="columns  is-rowreverse  featurelist">
//             <div class="column  is-4-desktop">
//                 <figure class="image  is-5by4"  data-number="2">
//                     <img src="assets/agile.jpg" alt="" />
//                 </figure>                
//             </div>
//             <div class="column  is-5-desktop">
//                 <h2 class="title">Agile werkwijze</h2>
//                 <p>Agile is ook bij Ibuildings een integraal en vitaal onderdeel van alle projecten. Bij een klant-leverancier setting, zoals bij ons, vraagt dit zelfs om een net iets aangepaste variant hiervan. Deze hebben wij in de loop der tijd zelf ontwikkeld op basis van Agile, en noemen wij Assured Delivery​.</p>
//             </div>
//         </div>
//     </div>
// </div>    
//
// Styleguide Components.featurelist numbered


.featurelist

    figure
        
        position: relative

        &:after
            content: attr(data-number)
            position: absolute
            margin: 0 auto
            left: 0
            right: 0
            top: 0
            transform: translateY(-50%)
            background: $red
            height: 48px
            width: 48px
            color: white
            border-radius: 48px
            font-size: 28px
            display: flex
            justify-content: center
            align-items: center
            font-weight: 400

            +desktop
                height: 60px
                width: 60px
                font-size: 36px


    +desktop

        .column:first-child
            margin-left: 16.66667%

        .column:last-child
            margin-left: auto
            width: 41.66667%
            margin-right: 8.33333%

        
        &.is-rowreverse

            .column:first-child  
                margin-left: auto
                margin-right: 16.66667%

            .column:last-child
                margin-left: 8.33333%
                margin-right: auto
                width: 41.66667%
                
                



