// Footer
//
// Minimal generic footer for using sitewide
// 
// Markup:
//  <footer class="footer kss">
//   <div class="container">
//     <div class="level">   
//       <div class="level-left">
//         <div class="footer__left">
//           <h4>Contact</h4>
//           <a href="tel:0031880024000">088 00 24000</a>
//           <a href="mailto:office@ibuildings.nl">office@ibuildings.nl</a>
//         </div>
//       </div>
//       <div class="level-middle">
//         <a href="/"><img src="assets/logo-ibuildings.svg" width="203" height="43" class="footer__idtag"></a>
//       </div>
//       <div class="level-left">
//         <div class="footer__right">
//           <h4>Volg ons</h4>
//           <a href="">Facebook</a>
//           <a href="">Twitter</a>
//           <a href="">Github</a>
//           <a href="">LinkedIn</a>
//         </div>
//       </div>
//     </div>
//   </div>
// </footer>
//
// Styleguide Components.footer   

.footer
  padding: 3rem 1.5rem 3rem
  background: white
  
  h4
    font-weight: bold

  a
    padding: 0 .5rem 

  .level
    flex-direction: row-reverse

    +desktop
      flex-direction: row

    &-left
    
      +mobile
        display: flex
        flex-direction: column
        align-items: center
        order: 0

    &-right
    
      +mobile
        display: none
        //flex-direction: column
        //align-items: center
        //order: 0

    &-middle
    
      +mobile
        display: flex
        order: 1
        justify-content: center

  +touch
    .level-middle img
      position: absolute
      margin: 0 auto
      left: 0
      right: 0
      top: 0

    .level
      padding-top: 4rem  


      

