form
    
    &.is-minimal
        margin: 2rem 0 0 0
        +desktop
            margin: 4rem 0 0 0

        input[type=text],
        input[type=email],
        textarea
            background: none
            border-radius: 0
            border-width: 0 0 1px 0
            border-color: $black
            box-shadow: none
            //color: white
            font-weight: 600
            padding: 0

            &:active,
            &:focus
                box-shadow: none
                outline: 0
                //border-color: white

            &::placeholder
                //color: white


    // diap form items
    &.is-diap
        input[type=text],
        input[type=email],
        textarea
            border-color: white
            color: white
            &:active,
            &:focus,
            &:hover
                border-color: white

        label,
        &::placeholder
            color: white    
        
        &:active,
        &:focus,
        &:hover
            border-color: white

        &::placeholder
                color: white



    // red form items
    &.is-red
        .label
            color: $red
        input[type=text],
        input[type=email],
        textarea
            border-color: $red
            color: $red
        
        &:active,
        &:focus
            border-color: $red

        &::placeholder
                color: $red                          




// animated label
.is-levitate
    .label
        position: absolute
        top: 0rem
        transition: .5s
        opacity: 1
        //color: white
        pointer-events: none
        font-weight: 400

    input:focus + label,
    input:valid + label  
        top: -1.5rem
        opacity: .5
        font-size: 80%
        color: $black                