// Grids
//
// Simple grid with photos 
// 
// Markup:
// <div class="columns  is-wrapped  photogrid  is-gapless">
//     <div class="column"><img src="assets/grid-item-1.jpg"></div>
//     <div class="column"><img src="assets/grid-item-2.jpg"></div>
//     <div class="column"><img src="assets/grid-item-3.jpg"></div>
//     <div class="column"><img src="assets/grid-item-4.jpg"></div>
//     <div class="column"><img src="assets/grid-item-5.jpg"></div>
//     <div class="column"><img src="assets/grid-item-6.jpg"></div>
//     <div class="column"><img src="assets/grid-item-7.jpg"></div>
//     <div class="column"><img src="assets/grid-item-8.jpg"></div>
//     <div class="column"><img src="assets/grid-item-9.jpg"></div>
//     <div class="column"><img src="assets/grid-item-10.jpg"></div>
//     <div class="column"><img src="assets/grid-item-1.jpg"></div>
//     <div class="column"><img src="assets/grid-item-2.jpg"></div>
// </div>
//
// Styleguide Grids.Photo grid 

.photogrid
  display: flex

  img
    object-fit: cover
    object-position: center
    min-height: 100%
    min-width: 100%
    display: block
  
  .column
    flex: none
    width: 33.333333%
    display: none
    overflow: hidden
    

    &:nth-child(-n+6)
      display: block

    +tablet
      width: 25%
      &:nth-child(-n+8)
        display: block

    +desktop
      width: 20%
      &:nth-child(-n+10)
        display: block

    +fullhd
      width: 16.666666667%
      &:nth-child(-n+12)
        display: block


// Grids
//
// Simple grid with logo's 
// 
// Markup:
// <div class="columns  is-gapless  is-wrapped  logogrid">
//   <div class="column"><img src="assets/logo-core-go.jpg" alt="" /></div>
//   <div class="column"><img src="assets/logo-core-php.jpg" alt="" /></div>
//   <div class="column"><img src="assets/logo-core-symfony.jpg" alt="" /></div>
//   <div class="column"><img src="assets/logo-core-python.jpg" alt="" /></div>
//   <div class="column"><img src="assets/logo-core-drupal.jpg" alt="" /></div>
//   <div class="column"><img src="assets/logo-core-laravel.jpg" alt="" /></div>
//   <div class="column"><img src="assets/logo-core-npm.jpg" alt="" /></div>
//   <div class="column"><img src="assets/logo-core-vue.jpg" alt="" /></div>
//   <div class="column"><img src="assets/logo-core-varnish.jpg" alt="" /></div>
//   <div class="column"><img src="assets/logo-core-solr.jpg" alt="" /></div>
//   <div class="column"><img src="assets/logo-core-postgresql.jpg" alt="" /></div>
//   <div class="column"><img src="assets/logo-core-react.jpg" alt="" /></div>
//   <div class="column"><img src="assets/logo-core-elasticsearch.jpg" alt="" /></div>
//   <div class="column"><img src="assets/logo-core-js.jpg" alt="" /></div>
//   <div class="column"><img src="assets/logo-core-redis.jpg" alt="" /></div>
// </div
//
// Styleguide Grids.Logo grid 


.logogrid
  display: flex
  border-top: 1px solid #efefef
  border-left: 1px solid #efefef

  &.is-gapless
    +tablet  
        margin: 2rem 0
    +desktop
        margin: 4rem 0

  .column
    border-right: 1px solid #efefef
    border-bottom: 1px solid #efefef
    width: 33.333333%
    flex: none

    +tablet
        width: 25%

    +desktop
        width: 20%

    +fullhd
        width: 16.66666667%

  .label
    text-align: center
    min-height: 100px
    justify-content: center
    align-items: center
    display: flex
    font-family: $family-sans-serif
    font-weight: 600
    line-height: 1.2rem
    //background: rgba($green,.2)


