// <section class="hero  hero--home">
//     <div class="hero-body">
//       <div class="container">
//         <div class="columns  is-vcentered">

//           <div class="column">
//             <h1 class="title">
//               Wij brengen digitale ambities van organisaties tot leven binnen budget en op tijd dankzij on Assured
//               Delivery® Proces.
//             </h1>
//             <div class="is-grouped">
//               <a class="button">Klantverhalen</a>
//               <a class="button">Waarom wij dit doen</a>
//             </div>
//           </div>
//           <div class="column">
//             <figure class="image">
//               <img src="dist/assets/hero-project-management.jpg" alt="" />
//             </figure>
//           </div>
//         </div>

//       </div>
//     </div>
//   </section>

    
.hero

  &--home

    +desktop
      min-height: 0

  &__image
    left: 0
    top: 0
    max-width: none
    width: 100%

    +desktop
        margin-right: -12rem !important

  &-body
    padding-top: 6rem
    +tablet
      padding-top: 8rem
    +desktop
      padding-top: 10rem

  .title
    +fluid-type(2.2rem, 3.2rem)
    font-weight: normal
    margin-bottom: 1rem
    line-height: 1.3








