// Logo slider
// 
// Technology panel on homepage
//
// Markup:
// <div class="logoslider">
//   <div><img src="assets/logo-drupal.jpg" alt="" /><img src="assets/logo-drupal.jpg" alt="" /></div>
//   <div><img src="assets/logo-laravel.jpg" alt="" /><img src="assets/logo-npm.jpg" alt="" /></div>
//   <div><img src="assets/logo-php.jpg" alt="" /><img src="assets/logo-solr.jpg" alt="" /></div>
//   <div><img src="assets/logo-symfony.jpg" alt="" /><img src="assets/logo-varnish.jpg" alt="" /></div>
//   <div><img src="assets/logo-varnish.jpg" alt="" /><img src="assets/logo-npm.jpg" alt="" /></div>
//   <div><img src="assets/logo-solr.jpg" alt="" /><img src="assets/logo-symfony.jpg" alt="" /></div>
//   <div><img src="assets/logo-npm.jpg" alt="" /><img src="assets/logo-drupal.jpg" alt="" /></div>
//   <div><img src="assets/logo-drupal.jpg" alt="" /><img src="assets/logo-drupal.jpg" alt="" /></div>
// </div>
//  
// Styleguide Components.logoslider

  
.logoslider
  cursor: ew-resize
  overflow: hidden
  padding: 1px 0


  div
    position: relative
    //background: $red
    width: 126px
    z-index: 100

    +desktop
      width: 252px

    &:hover
      z-index: 99

    img
      border-right: 1px solid #efefef
      border-left: 0
      border-top: 1px solid #efefef
      border-bottom: 1px solid #efefef
      transition: .1s
      position: relative
      width: 100%
      height: auto
      
      //z-index: 2

      &:first-child
        border-bottom: 0

      &:hover
        box-shadow: 0 0 24px 0 rgba(0,0,0,.2)
