.media.is-stack 
  border: 0
  padding: 0
  background: white
  box-shadow: 0 0 24px 0 rgba(0,0,0,.15)
  margin: 0 0 2rem 0
  align-items: unset

  .title 
    margin-bottom: .5rem

  &:hover 
    figure > img 
      transform: scale(1.1) rotate(3deg)

  +mobile 
    flex-wrap: wrap

  +desktop
    margin: 0 0 4rem 0

  figure
    margin: 0
    overflow: hidden
    display: flex
    width: 200px

    img
      display: block
      transition: .5s
      object-fit: cover
      height: 100%
      width: 100%

    +mobile 
      width: 100%

  p
    margin: 0    

  .media-content 
    padding: 2rem

  .media-right
    padding: 1rem
    align-items: flex-end
    display: flex  