// Navigationbar
//
// Sitewide main navigation bar
// 
// Markup:
// <nav class="navbar" aria-label="main navigation">
//     <div class="container">
//       <div class="navbar-brand">
//         <a href="/" class="navbar-item">
//           <img src="assets/logo-ibuildings.svg" width="112" height="28" alt="Ibuildings" class="navbar__idtag" />
//         </a>
//         <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
//           data-target="navbarBasicExample">
//           <span aria-hidden="true"></span>
//           <span aria-hidden="true"></span>
//           <span aria-hidden="true"></span>
//         </a>
//       </div>
//       <div id="mainNav" class="navbar-menu  navbar-end">
//         <a class="navbar-item  is-hoverunderline" href="assureddelivery.html">
//           Assured Delivery
//         </a>
//         <div class="navbar-item  has-dropdown is-hoverable">
//           <a class="navbar-link" href="expertise.html">
//             Expertise
//           </a>
//           <div class="navbar-dropdown">
//             <a class="navbar-item" href="process.html">
//               Process
//             </a>
//             <a class="navbar-item" href="coretechnologies.html">
//               Core technologies
//             </a>
//             <a class="navbar-item" href="technologystacks.html">
//               Technology stacks
//             </a>
//           </div>          
//         </div>
//         <div class="navbar-item has-dropdown is-hoverable">
//           <a class="navbar-link" href="succesverhalen.html">
//             Succesverhalen
//           </a>
//           <div class="navbar-dropdown">
//             <a class="navbar-item">
//               RTLZ
//             </a>
//             <a class="navbar-item">
//               ZLM Verzekeringen
//             </a>
//             <a class="navbar-item">
//               Prorail
//             </a>
//             <hr class="navbar-divider">
//             <a class="navbar-item">
//               meer....
//             </a>
//           </div>
//         </div>
//         <a class="navbar-item  is-hoverunderline" href="blog.html">
//           Blog
//         </a>
//         <a class="navbar-item  is-hoverunderline" href="overons.html">
//           Over ons
//         </a>
//         <a class="navbar-item  is-cta" href="contact.html">
//           Contact
//         </a>
//         <a class="navbar-item  is-lngswitch  is-active" href="?lng=nl" title="switch naar nederlands">
//           nl
//         </a>
//         <a class="navbar-item  is-lngswitch" href="?lng=en"  title="switch to english">
//           en
//         </a>
//       </div>
//     </div>
//   </nav>
//
// Styleguide Components Navbar

.navbar
  background: transparent
  border-bottom: 1px solid lighten($beige, 5%)
  z-index: 10
  right: 0
  top: 0
  left: 0
  padding: 0
  transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1)
  transition: .5s
  position: fixed

  // +mobile
  //   .navbar-brand
  //     a
  //       padding-left: 2rem

  // prevent sticky in the styleguide
  .kss-body &
    position: static
    background: white

  +desktop
    padding: 1rem 0
    transition: .5s
    
  &.scroll
    background: rgba(254,254,254,.97)
    padding: .5rem 0

  &.hidden
    transform: translateY(-100%)

  &__idtag
    width: 120px
    height: auto
    max-height: none !important
    transform: translateY(3px)
    
    +desktop
      width: 200px
      transform: translateY(6px)

  div.navbar-item,
  a.navbar-item  // more specificity to override background color on hover
    font-family: $family-primary

    &.has-dropdown:hover
      background: transparent

      .navbar-link
        background: transparent !important

    &:hover
      background: transparent

    &.is-cta
      background: $red
      color: white
      margin: 1rem 0
      border-radius: 2px
      font-weight: 500
      transition: .3s
      margin-left: 1rem
      margin-right: 1rem

      &:hover 
        background: darken($red, 5%)
        color: white
    
    &.is-lngswitch
      color: $black
      padding: 0 .2rem

      &.active,
      &:hover  
        color: $red

+touch 
  #mainNav
    background: $black
    color: white
    position: fixed
    right: 1rem
    min-width: 280px
    border-radius: 4px
    box-shadow: 0 0 24px 0 rgba(0,0,0,.2)
    z-index: 9999
    top: 4rem

    > a,
    .navbar-link,
    .navbar-dropdown
      border-bottom: 1px solid rgba($grey, .2)

    a
      color: white

    .navbar-item.is-cta
      margin: 0
      a 
        background: $red

    .navbar-dropdown .navbar-item
      color: rgba(254,254,254,.6)

      &.is-cta
        background: transparent


.lng-switch
  //border: 1px solid blue
  display: flex
  justify-content: center

  .navbar-item
    flex: 0
    padding: .5rem!important

    &.is-active
      background: none
      color: white