// Portfolio
//
//
// Markup:
// <div class="portfolio">
//   <div class="columns  is-gapless">
//     <div class="column is-6">
//       <div class="portfolio-label">Klantverhaal</div>
//       <h3 class="portfolio-title">ZLM Verzekeringen</h3>
//       <div class="tags is-diap"><span class="tag">architectuur</span><span class="tag">engineering</span></div>
//       <p>Nederland's beste verzekeraar vroeg ons een website te ontwikkelen die dat beeld versterkt.</p>
//       <a href="#" class="portfolio-button">lees meer</a>
//     </div>
//     <div class="column is-6">
//       <img src="assets/zlm-portfolio.svg" alt="" />
//     </div>
//   </div>
// </div>
//
// Styleguide Components.Portfolio

.portfolio
    background: #D81428
    color: white
    padding: 1rem 1.5rem 1rem 1.5rem
    margin-bottom: 4rem
    position: relative

    +desktop
        padding: 2rem 3rem 2rem 3rem

    > .columns
       padding-bottom: 4rem
       +desktop 
         padding-bottom: 0
         //margin-right: -12rem

    &-label
        +fluid-type(12px,14px)
        font-weight: bold
        letter-spacing: 2px
        margin-bottom: 1rem

    &-title 
        +fluid-type(24px,48px)
        font-weight: 600
        line-height: 1
        margin-bottom: 2rem

    &-button 
        @extend .button
        position: absolute
        bottom: 2rem
        border: 0
        border-radius: 3px

    .column:first-child    
        padding-bottom: 2rem !important
        
    .column:last-child
        display: flex
        flex-direction: column
        justify-content: center 

        

