
// force columns to be equal height  
.is-mobile
  .column
    display: flex
  
.process
  border: 0
  box-shadow: none
  transition: .5s
  width: 100%
  position: relative
  margin: 0
  background: transparent
  text-align: center
  border-radius: 0
  padding: 0  
  
  +touch 
    box-shadow: 0 0 24px 0 rgba(0,0,0,.1)
    padding: 2rem
    text-align: center
    justify-content: center
    display: flex
    align-items: center

    .process__icon
      margin-right: 0

    .process__inner
      text-align: center
      align-items: center
      justify-content: center
      display: flex
      flex-direction: column


  +desktop
    padding: 100% 0 0 0

  p
    line-height: 1.4
    margn: 0
    //text-align: left

    &:hover .iconbox
      img 
        transform: translateY(-60px)

  img
    transition: .2s ease-out


  .process__inner
    //display: flex
    //align-items: center

  .process__icon
      overflow: hidden
      height: 60px
      width: 60px
      position: relative
      margin-right: 1rem

      img
        position: absolute
        top: 0
        left: 0


  +desktop

    p
      text-align: center

    .process__inner
      transition: .5s
      border: 0
      position: absolute
      left: 0
      right: 0
      top: 0
      bottom: 0
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      padding: 1rem

      .process__icon
        margin-right: 0

    &:hover

      .process__icon

        img
          top: -60px

    &.is-diamond
      background: white
      box-shadow: 0 0 24px 0 rgba(0,0,0,.2)

    &.is-diamond:hover
      cursor: pointer
      transform: rotate(45deg)
      border-radius: 24px
      background: $red
      z-index: 9

      .process__inner
        transform: rotate(-45deg)
        background: transparent
        position: absolute
        box-shadow: none
        color: white
        
    &.is-square
      background: white
      box-shadow: 0 0 24px 0 rgba(0,0,0,.2)
      transition: .5s

    &.is-square:hover
      cursor: pointer
      background: $blue
      color: white
      box-shadow: 0 0 4px 0 rgba(0,0,0,.6)
      transition: .5s
      border-radius: 50% 0 50% 0
      transform: rotate(45deg)

      .process__inner
        background: transparent
        z-index: 99999999
        position: absolute
        box-shadow: none
        z-index: 9
        transition: .3s
        transform: rotate(-45deg)      

    &.is-triangle
      background: white
      box-shadow: 0 0 24px 0 rgba(0,0,0,.2)

      &:hover
        cursor: pointer
        background-size: contain
        box-shadow: none
        transform: rotate(90deg)
        background: $beige
        border-radius: 50% 25% 50% 50%
        
        .process__inner
          z-index: 99999999
          position: absolute
          box-shadow: none
          z-index: 9
          color: $black
          transform: rotate(-90deg)

    &.is-circle
      background: white
      box-shadow: 0 0 24px 0 rgba(0,0,0,.2)

    &.is-circle:hover
      cursor: pointer
      border-radius: 100%
      background: $green
      color: white
      transform: rotate(45deg)
      transform-origin: 50% 50%
      box-shadow: 0 0 24px 0 rgba(0,0,0,.2)
      transition: .5s

      .process__inner
        transform: rotate(-45deg)
        background: transparent
        position: absolute
        box-shadow: none
        z-index: 9
        transition: .5s


.iconbox
  width: 60px
  height: 60px
  overflow: hidden
  flex: 0 0 auto
  
  img
    width: 60px
    height: auto