.related
  flex-wrap: wrap
  padding: 2rem 0

  .column
    padding: 1rem 2.5rem

  a
    display: block
    position: relative
    font-weight: 400
    +fluid-type(16px,24px)

    &:before
      display: block
      content: ''
      background: $red url(../assets/arrow-right-diap.svg) no-repeat center center
      background-size: 19px 14px
      padding: 1rem
      width: 48px
      height: 40px