.section
  padding: 1rem 1.5rem

  +tablet 
    padding: 2rem 1.5rem

  +desktop
    padding: 3rem 1.5rem  

  &.is-flush
    padding-left: 0
    padding-right: 0

  &.is-top
    margin-top: 52px
    
    +desktop
      margin-top: 104px
  
  &.is-beige
    background: $beige  
    position: relative
    padding-top: 6rem

    &:after
      content: ''
      width: 50%
      height: 3rem
      position: absolute
      left: 50%
      top: 0
      display: block
      background: white

      +desktop
        height: 6rem

  &.is-assured
    padding: 3rem
    
    +desktop
      padding: 6rem

  &.is-big  
    padding-top: 3rem
    padding-bottom: 3rem
    overflow: hidden

    +desktop
      padding-top: 6rem
      padding-bottom: 6rem


  &.is-big-top
    padding-top: 3rem
    padding-bottom: 1rem
    overflow: hidden

    +desktop
      padding-top: 6rem
      padding-bottom: 2rem

  &.is-big-bottom
    padding-top: 1rem
    padding-bottom: 3rem
    overflow: hidden

    +desktop
      padding-top: 2rem
      padding-bottom: 6rem


  &.is-huge
    padding-top: 6rem
    padding-bottom: 3rem
    overflow: hidden

    +desktop
      padding-top: 12rem
      padding-bottom: 6rem    

  &.is-cta
    padding-top: 6rem
    padding-bottom: 6rem
    background: $red

  &.is-pageintro
    padding-top: 6rem

    +tablet
      padding-top: 8rem

    +desktop
      padding-top: 12rem

  &.is-blog 
    position: relative
    padding-top: 4rem

    &:before
      content: ''
      right: 0
      top: 0
      background: $red
      height: 24rem
      padding-top: 30%
      min-height: 12rem
      max-height: 24rem
      left: calc(50% - (1200px/4))
      position: absolute 
      display: block

  &.is-maps
    margin-top: -8rem
    position: relative
    z-index: 1    