.slider
  overflow: hidden

  .slick-arrow
    cursor: pointer
    opacity: 0
    position: absolute
    top: 50%
    width: 48px
    height: 48px
    transform: translateY(-50%)
    border: 1px solid white
    z-index: 10
    transition: .5s
    left: -48px
    z-index: 9
    outline: none !important
    background: white url(../assets/arrow-left.svg) no-repeat center center
    font-size: 0

    &.slick-next
      left: auto
      right: -48px
      background: white  url(../assets/arrow-right.svg) no-repeat center center
    
  &:hover
    .slick-arrow
      opacity: 1
      left: 0

      &.slick-next
        right: 0
        left: auto

