+touch  
    .solutions
        //margin-bottom: 2rem

        ul
            li 
                display: block
                margin-bottom: 1rem
                padding: 5px 1rem
                border-radius: 4px
                transform: translateY(200px)
                transition: .5s
                opacity: 0
                border-width: 5px
                border-style: solid
                font-weight: 500
                text-align: center

                .is-visible &
                    transform: translate(0)
                    opacity: 1
                
                &:nth-child(1)
                    background: $white
                    border-color: $green
                    color: $green
                    animation: bounceUp 1.5s

                &:nth-child(2)
                    background: $red
                    border-color: $red
                    color: white
                    transition-delay: .1s

                &:nth-child(3)
                    background: white
                    border-color: $purple
                    color: $purple
                    transition-delay: .2s
                    
                &:nth-child(4)
                    border-color: $beige
                    color: $grey
                    transition-delay: .3s
                
                &:nth-child(5)
                    background: $green
                    border-color: $green
                    color: white
                    transition-delay: .4s
                    
                &:nth-child(6)
                    border-color: $red
                    color: $red
                    transition-delay: .5s

                &:nth-child(7)
                    background: $purple
                    border-color: $purple
                    color: white
                    transition-delay: .6s

                &:nth-child(8)
                    border-color: $blue
                    color: $blue
                    transition-delay: .7s

                &:nth-child(9)
                    background: $beige
                    border-color: $beige
                    color: $grey
                    transition-delay: .8s

                &:nth-child(10)
                    background: $blue
                    border-color: $blue
                    color: white
                    transition-delay: .9s

    
+desktop
    .solutions
        height: 340px
        width: 340px
        //padding: 100% 0 0 0
        border-radius: 300px
        display: flex
        justify-content: center
        align-items: center
        position: relative
        transform-origin:  0

        +desktop
            height: 600px
            width: 600px

        .title
            color: $blue
            
            +mobile
                font-size: 100%
        
        ul
            display: block
            position: absolute
            left: 0
            right: 0
            top: 0
            bottom: 0
            padding: 0
            margin: 0
            list-style: none
        
            li
                margin: 0
                padding: 0
                display: flex
                justify-content: center
                align-items: center
                position: absolute
                z-index: 9
                left: 0
                right: 0
                bottom: 0
                top: 0

                transform-origin: 50% 00px

                +desktop
                    transform-origin: 50% 300px

                left: 0
                top: 0
                transition: 2s
                line-height: 1.2
        
                div
                    opacity: 0
                    height: 120px
                    width: 120px
                    border-radius: 50%
                    justify-content: center
                    align-items: center
                    text-align: center
                    display: flex
                    position: relative
                    z-index: 100
                    animation-direction: alternate
                    padding: 1rem
                    z-index: 9999
        
                &:nth-child(1)
                    transform: rotate(36deg)
                    cursor: pointer
                
                    .is-visible &
                        div
                            animation: bounceUp 1.5s
                            transform: rotate(-36deg)
                            animation-direction: alternate
                            animation-fill-mode: forwards
                            color: white
                            background: $red
        
                &:nth-child(2)
                    transform: rotate(72deg)
                
                    .is-visible &
                        div
                            animation: bounceUp 1.7s
                            transform: rotate(-72deg)
                            animation-fill-mode: forwards
                            border: 8px solid $purple
                            color: purple

                &:nth-child(3)
                    transform: rotate(108deg)
                
                    .is-visible &
                        div
                            animation: bounceUp 1.9s
                            transform: rotate(-108deg)
                            animation-fill-mode: forwards
                            border: 8px solid $beige
                            color: $grey
            
                &:nth-child(4)
                    transform: rotate(144deg)
                
                    .is-visible &
                        div
                            animation: bounceUp 2.1s
                            transform: rotate(-144deg)
                            animation-fill-mode: forwards
                            color: white
                            background: $green
            
                &:nth-child(5)
                    transform: rotate(180deg)  
                
                    .is-visible &
                        div
                            animation: bounceUp 2.3s
                            transform: rotate(-180deg)
                            animation-fill-mode: forwards
                            border: 8px solid $red
                            color: $red
        
                &:nth-child(6)
                    transform: rotate(216deg)
                
                    .is-visible &
                        div
                            animation: bounceUp 2.5s
                            transform: rotate(-216deg)
                            animation-fill-mode: forwards
                            background: $purple
                            color: white
            
                &:nth-child(7)
                    transform: rotate(252deg)  
                
                    .is-visible &  
                        div
                            animation: bounceUp 2.7s
                            transform: rotate(-252deg)
                            animation-fill-mode: forwards
                            border: 8px solid $blue
                            color: $blue
            
                &:nth-child(8)
                    transform: rotate(288deg)  

                    .is-visible &
                        div
                            animation: bounceUp 2.9s
                            transform: rotate(-288deg)
                            animation-fill-mode: forwards
                            background: $beige
                            color: $grey
            
                &:nth-child(9)
                    transform: rotate(324deg)  
                
                    .is-visible &
                        div
                            animation: bounceUp 3.1s
                            transform: rotate(-324deg)
                            animation-fill-mode: forwards
                            background: $blue
                            color: white

                &:nth-child(10)
                    transform: rotate(0deg)  
                
                    .is-visible &  
                        div
                            animation: bounceUp 3.3s
                            animation-fill-mode: forwards
                            border: 8px solid $green
                            color $green