// <div class="tabs">
//   <ul>
//     <li data-tab="purescrum"><a>Pure Scrum</a></li>
//     <li><span>VS</span></li>
//     <li data-tab="assureddelivery" class="is-active"><a>Assured Delivery</a></li>
//   </ul>
// </div>


.tabs--diap
  text-align: center
  color: white
  overflow: visible

  ul
    display: flex
    justify-content: center
    border: 0

    li 
      margin: 0 .5rem
      background: none
      
      +desktop
        margin: 0 1rem

      a 
        color: white
        background: transparent 
        border-radius: 48px
        border: 2px solid white

        &:hover
          color: white
          border: 2px solid white

      &.is-active
        background: none
    
        a
          color: $black
          background: white
          border-radius: 48px
          border: 2px solid white

          +mobile 
            font-size: 14px
            padding: .2rem .4rem