.testimonial
  background: $black
  color: white
  padding: 1.5rem 2rem
  text-align: center

  +desktop
    padding: 3rem 4rem

  &__quote
    +fluid-type(18px,28px)
    font-weight: 500
    line-height: 1.4
    margin-bottom: 2rem
    font-style: italic

  &__author
    font-weight: 500
    margin-bottom: 2rem

    .function
      display: block
      font-weight: 300