// RESPONSIVE TYPOGRAPHY MIXIN
    
=fluid-type( $min-font-size: 12px, $max-font-size: 21px, $lower-range: 420px, $upper-range: 1200px)
    font-size: calc( #{$min-font-size} + #{( ($max-font-size / ($max-font-size * 0 + 1)) - ($min-font-size / ($min-font-size * 0 + 1)))} * ((100vw - #{$lower-range}) / #{( ($upper-range / ($upper-range * 0 + 1)) - ($lower-range / ($lower-range * 0 + 1)))}))
    @media (max-width: $lower-range)
        font-size: $min-font-size
    @media (min-width: $upper-range)
        font-size: $max-font-size


        

